### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read the purchase_data.csv file and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Preview the columns in the purchase_data.csv
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Create a variable to narrow list of unique players by their screen names
number_of_players =  len(purchase_data["SN"].unique())

# Assign a dataframe to publish the requested output
pd.DataFrame({"Total Players": [number_of_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Create variables to run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Item Name"].count()
total_revenue = purchase_data["Price"].sum()

# Create a summary data frame to hold the results
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [average_price],
                          "Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})

# Give the displayed data elements a cleaner formatting
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

# Display the summary data frame
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Group the data by the unique gender values contained in the data set
gender_types = purchase_data.groupby("Gender")

# Extract the gender of the total unique players by their screen name
unique_gender_counts = gender_types["SN"].nunique()

# Calculate the percentage by gender of the total unique players 
percentage_of_players = unique_gender_counts / number_of_players

# Create a summary data frame with calculated values
gender_demographics_df = pd.DataFrame({"Total Count": unique_gender_counts,"Percentage of Players": percentage_of_players})

# Format the data frame with no index name in the corner
gender_demographics_df.index.name = None

# Give the displayed data elements a cleaner formatting and add two decimal places for the percentage. Sort by total count in descending order
gender_demographics_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = gender_types["Price"].count()
average_purchase_price = gender_types["Price"].mean()
total_purchase_price = gender_types["Price"].sum()
average_total_purchase_by_person = total_purchase_price/unique_gender_counts

# Create a summary data frame to hold the results
purchase_anaylsis_by_gender = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average purchase price" : average_purchase_price,
    "Average purchase total" : total_purchase_price,
    "Average purchase total by person" : average_total_purchase_by_person})

# Provide index in top left as "Gender" is displayed on the starter jupyter notebook
purchase_anaylsis_by_gender.index.name = "Gender"

# Display the summary data frame with cleaner formatting with two decimal places
purchase_anaylsis_by_gender.style.format({"Average purchase price":"${:,.2f}",
                                          "Average purchase total":"${:,.2f}",
                                          "Average purchase total by person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_bin_names)
purchase_data

# Create new data frame with a new column name "Age Group" and group by it
age_grouped = purchase_data.groupby("Age Group")

# Calculate the total players by age group
total_count_age = age_grouped["SN"].nunique()

# Calculate the percentages of players by age group
percentage_by_age = (total_count_age/number_of_players)

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Display the summary data frame with cleaner formatting with two decimal places for percentage
age_demographics.style.format({"Percentage of Players":"{:,.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Group purchase data for each screen name
spender_stats = purchase_data.groupby("SN")

# Count the total purchases for each screen name
purchase_count_by_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase for each screen name
avg_purchase_price_by_spender = spender_stats["Price"].mean()

# Calculate purchase total for each screen name
purchase_total_by_spender = spender_stats["Price"].sum()

# Create a summary data frame to hold the results
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_by_spender,
                             "Average Purchase Price": avg_purchase_price_by_spender,
                             "Total Purchase Value":purchase_total_by_spender})

# Sort the total purchase value column in descending order to display the top 5 spender screen names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Display the summary data frame with cleaner formatting for currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
# Create new data frame with the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
popular_items = items.groupby(["Item ID","Item Name"])

# Calculate the number of times an item has been purchased 
item_purchase_count = popular_items["Price"].count()

# Calculate the total purchase value for each item 
total_purchase_value = (popular_items["Price"].sum()) 

# Calculate the price for each item
item_price = total_purchase_value/item_purchase_count

# Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":total_purchase_value})

# Sort the purchase count column in descending order to obtain top spender names
most_popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Give the displayed data elements a cleaner formatting with currency style
most_popular_items_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
# Sort the above table by total purchase value in descending order to find highest total purchase value
most_profitable = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

# Give the displayed data elements a cleaner formatting for currency style
most_profitable.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})